@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Componetns */
@import "components/nav_bar.css";
@import "components/logo.css";
@import "components/welcome.css";
@import "components/main-content.css";
@import "components/no_mobile.css";
/* screen */
@import "screen/login.css";
@import "screen/place.css";
@import "screen/restaurant.css";
@import "screen/cafe.css";
@import "screen/chat.css";
@import "screen/profile.css";
/* slide */
@import "slide/slide-place.css";
@import "slide/slide-restaurant.css";
@import "slide/slide-cafe.css";

body * {
    font-family: "Nanum Pen Script", cursive;
}
.main-screen {
    margin: 20px 10px 0px;
}
a {
    text-decoration: none;
    color: black;
}