.slide-screen {
  margin: 100px 8px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-slide {
  margin-right: 10px;
}
.slider-place {
    overflow: hidden;
    width: 400px;
    height: 250px;
    margin-right: 10px;
    position: relative;
    border-radius: 25px;
}
.slide-place {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    animation: slide-plcae 10s infinite;
}
.slide-place:nth-child(1) {
    background-image: url('https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcQDkYfN0SrhTIVwyN_m9o03XaZZ_VRGg1VoYIXFSFBbpk33JqVaYd9Nq9KnxC-sIquD-e8jo0yE1RHHF15EkVWBpnQ6-Tu1jO6psWCCkA');
    animation-delay: -0;
  }
  
.slide-place:nth-child(2) {
    background-image: url('https://korean.visitseoul.net/data/POST/20151231//1231225004912-8dee7d13d47c432dbb72ed0f2daf70f4.jpg');
    animation-delay: -2s;
  }
    
.slide-place:nth-child(3) {
    background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDA4MjJfMTkw%2FMDAxNzI0MjU1MzU0NzMz.Bt8iTdgIR232wrYv-cLwf-2x09CXcNg7mex_oSVlSoYg.ZsZdCqTEJtnBvCepGQJPLq9jGMotNH-o5V0W8F_-23Mg.JPEG%2F1_%25282%2529.jpg&type=sc960_832');
    animation-delay: -4s;
  }
    
.slide-place:nth-child(4) {
    background-image: url('https://cdn.news.eugenes.co.kr/news/photo/201608/2245_4430_324.jpg');
    animation-delay: -6s;
  }
  
.slide-place:nth-child(5) {
    background-image: url('https://i.namu.wiki/i/t2zvEe7ws93H0jrNgi_6co5wMkXToxQuGkmO7AhHbMrhPBSY9LZwNpthQZRkWYxYBB2ZPj8M08p5vw_yOJAz_g.webp');
    animation-delay: -8s;
  }
  
  @keyframes slide-plcae {
    0%, 15%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    95% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
  }
.slider-text * {
  line-height: 2;
  color: black;
  font-size: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 255, 0.5);
}
.slider-text a p:hover {
  transform: translate(5px, 5px);
}
